*{
    margin: 0 auto;
    padding: 0;
}
.banner{
    background-color: #FFCC00;
    padding-bottom: 2%;
    display: flex;
}
.banner p{
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding-top: 2%;
}
.nav{
    background-color: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
nav p{
    font-size: 1.2em;
    color: #0000a4;
    text-decoration: none;
}
.banner img{
    width: 274px;
    height: 100px;
    padding-top: 1%;
}
.main p{
    margin: 2%;
    font-size: 1.5em;
}
.title{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 3em;
}
.main{
    border: black solid 2px;
    margin: 2%;
    border-radius: 10px;
}
.img-small{
    width: 20%;
    height: 20%;
    margin: 2%;
}